li.time-label > span.small {
    margin: 5px 0 0 15px;
    transform: scale(0.8);
}

.tab-pane > .box.box-widget {
    background-color: rgb(230, 230, 230);
}

.tab-pane > .box.box-widget > .box-footer {
    background: none;
}

.clear-both {
    clear: both;
}